
#titulo{
    @keyframes moleculas{
        to{transform: rotate(360deg);}
    }
    .molecula {
        //background-color: cyan;
        width: 75px;
        height: 75px;
        border: solid black;
        border-radius: 50%;
        position: absolute;
        top: 9%;
        left: 25%;
        animation: moleculas 1s linear infinite;
    }
    .circulo {
        width: 70%;
        height: 70%;
        outline-style: solid;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .circulitos{
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: yellow;
        top: 10%;
        border-radius: 50%;
    }
    .interior{
        width: 40%;
        height: 40%;
        background-color: black;
    }
}
#present  {
    
    @media (max-width:760px) {
        
    }
    img{
        width: 600px;
    }
    @media (max-width:1980px ) {
        img: {
            object-fit: cover;
            width: 100px;
            height: 50%;
        }
    }

    
}
